.month-selectors {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 1.6rem;

  .months-wrapper {
    display: flex;
    gap: 0.8rem;
  }

  @media (min-width: 540px) {
    flex-direction: row;
    align-items: center;
    gap: 3.8rem;
    margin-bottom: 1.8rem;
  }
}
